body{
    background-size: no-repeat;
    color: black;
    padding: 0 10rem;
}

/* Styling for headings */
h1, h2, h3, h4, h5, .heading1, .heading2, .heading3, .heading4, .heading5 {
    font-family: 'Arial', sans-serif;
}

/* Specific heading styles */
.heading1 {
    font-size: 2.5rem;
    color: #3498db;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading2 {
    font-size: 2rem;
    color: #e74c3c;
    font-weight: bold;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 5px;
}

.heading3 {
    font-size: 1.75rem;
    color: #2ecc71;
    font-style: italic;
    margin-left: 20px;
}

.heading4 {
    font-size: 1.5rem;
    

}

.heading5 {
    font-size: 1.25rem;
    color: #9b59b6;
    
    padding: 5px;
}

ul{
    list-style-type: none;
}

/* .background-mask{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
} */
/* Container with background image and mask */


